In [4]:
# Importar librerias
import requests
import json
import pandas as pd

In [5]:
# Api URL
Monedas = requests.get("http://economia.awesomeapi.com.br/json/last/USD-BRL,EUR-BRL,BTC-BRL")
Monedas = Monedas.json()

# Print json
Monedas

{'USDBRL': {'code': 'USD',
  'codein': 'BRL',
  'name': 'Dólar Americano/Real Brasileiro',
  'high': '5.8079',
  'low': '5.79602',
  'varBid': '-0.0002',
  'pctChange': '-0.003442',
  'bid': '5.8055',
  'ask': '5.8085',
  'timestamp': '1745292624',
  'create_date': '2025-04-22 00:30:24'},
 'EURBRL': {'code': 'EUR',
  'codein': 'BRL',
  'name': 'Euro/Real Brasileiro',
  'high': '6.69344',
  'low': '6.65779',
  'varBid': '0.008933',
  'pctChange': '0.133729',
  'bid': '6.68896',
  'ask': '6.70691',
  'timestamp': '1745292458',
  'create_date': '2025-04-22 00:27:38'},
 'BTCBRL': {'code': 'BTC',
  'codein': 'BRL',
  'name': 'Bitcoin/Real Brasileiro',
  'high': '517726',
  'low': '504465',
  'varBid': '2822',
  'pctChange': '0.553',
  'bid': '512953',
  'ask': '512981',
  'timestamp': '1745292891',
  'create_date': '2025-04-22 00:34:51'}}

In [6]:
# Convertir diccionario a cadena JSON
json_string = json.dumps(Monedas)

# Convertir cadena JSON en DataFrame de Pandas
dfjson = pd.read_json(json_string)

# Print DataFrame
dfjson

,USDBRL,EURBRL,BTCBRL
code,USD,EUR,BTC
codein,BRL,BRL,BRL
name,Dólar Americano/Real Brasileiro,Euro/Real Brasileiro,Bitcoin/Real Brasileiro
high,5.8079,6.69344,517726
low,5.79602,6.65779,504465
varBid,-0.0002,0.008933,2822
pctChange,-0.003442,0.133729,0.553
bid,5.8055,6.68896,512953
ask,5.8085,6.70691,512981
timestamp,1745292624,1745292458,1745292891
create_date,2025-04-22 00:30:24,2025-04-22 00:27:38,2025-04-22 00:34:51

In [7]:
# Convertir diccionario en una tabla
df = pd.DataFrame.from_dict(Monedas, orient = 'index').reset_index()
df

,index,code,codein,name,high,low,varBid,pctChange,bid,ask,timestamp,create_date
0,USDBRL,USD,BRL,Dólar Americano/Real Brasileiro,5.8079,5.79602,-0.0002,-0.003442,5.8055,5.8085,1745292624,2025-04-22 00:30:24
1,EURBRL,EUR,BRL,Euro/Real Brasileiro,6.69344,6.65779,0.008933,0.133729,6.68896,6.70691,1745292458,2025-04-22 00:27:38
2,BTCBRL,BTC,BRL,Bitcoin/Real Brasileiro,517726,504465,2822,0.553,512953,512981,1745292891,2025-04-22 00:34:51

In [8]:
# Especificar Columnas
df_monedas = df.loc[:, ['code','codein','bid','ask','create_date']]

# Print table
df_monedas

  code codein      bid      ask          create_date
0  USD    BRL   5.8055   5.8085  2025-04-22 00:30:24
1  EUR    BRL  6.68896  6.70691  2025-04-22 00:27:38
2  BTC    BRL   512953   512981  2025-04-22 00:34:51

In [9]:
# Renombrar Columnas
df_monedas.rename(columns = {'code':'moneda_base', 'codein':'moneda_destino', 'bid':'valor_compra', 'ask':'valor_venda', 'create_date':'data_hora'}, inplace = True)

# Print table
df_monedas

  moneda_base moneda_destino valor_compra valor_venda            data_hora
0         USD            BRL       5.8055      5.8085  2025-04-22 00:30:24
1         EUR            BRL      6.68896     6.70691  2025-04-22 00:27:38
2         BTC            BRL       512953      512981  2025-04-22 00:34:51

In [10]:
# Guardar Archivo CSV
df_monedas.to_csv('/Users/nicolasbaranda/Downloads/Challenge - Analytics Engineer - Meli/3 - Challenge Engineer - API/monedas_datos.csv', index = False)